* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;

  margin: 0px auto;
  width: 960px;
  height: 960px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.square {
  background-color: red;
  box-sizing: border-box;
  flex: 1 0 6.25%; /* Equal width and height */
  height: 60px;
  aspect-ratio: 1 / 1;
  border: 3px solid #ddd; /* Optional: Add a border for better visibility */
  text-align: center;
}
.btn {
  background-color: rgb(76, 76, 206);
  color: rgb(190, 190, 190);
  border: 0px;
  border-radius: 3px;
  font-size: 2em;
  padding: 10px;
  margin: 10px;
}
